.auth {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.auth__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.auth__form {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 2rem;
    color: white;
    border-radius: 1rem;
    backdrop-filter: blur(16px);
    width: 350px;
}

.auth__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.auth__inputs {
    display: grid;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.auth__box {
    display: grid;
}

.auth__input {
    padding: 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.auth__input::placeholder {
    color: white;
}

.auth__button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.auth__footer {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.auth__footer a {
    color: white;
    text-decoration: underline;
}